# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

serviceAccountKey.json

# ✅ [추가] 민감한 서비스 계정 키 파일을 Git이 무시하도록 설정

service-account-key.json